#released, #announced {
    text-align: center;
    left: 1%;
    right: 1%;
}

#released {
    top: 12%;
    bottom: 65%;
}

#H-RSA {
    left: 3%;
    right: 3%;
    top: 35%;
    bottom: 15%;
}

#H-TS {
    left: 3%;
    right: 3%;
    top: 85%;
    bottom: -35%;
}

#H-TT {
    left: 3%;
    right: 3%;
    top: 135%;
    bottom: -105%;
}

#B-shirt {
    left: 3%;
    right: 50%;
    top: 205%;
    bottom: -155%;
}
#B-atom {
    left: 50%;
    right: 3%;
    top: 205%;
    bottom: -155%;
}

#announced {
    top: 255%;
    bottom: -178%;
}



#spacer {
    bottom: -198%;
}