[submodule "projects/AskAlfonz/AlfonzProxy"]
	path = projects/AskAlfonz/AlfonzProxy
	url = git@hf.co:spaces/TrafkHop-Entertainment/AlfonzProxy
[submodule "projects/AskAlfonz/AskAlfonz"]
	path = projects/AskAlfonz/AskAlfonz
	url = git@github.com:TrafkHop-Entertainment/AskAlfonz.git
[submodule "SourceHop-Notes"]
	path = SourceHop-Notes
	url = git@github.com:TrafkHop-Entertainment/SourceHop-Notes.git
