:root {
    --Kraft:      #fff495;
    --Kraft-dark: #ede59f;
    --Trafk:      #5a3998;
    --Trafk-dark: #23163B;
}



#Logo p > i {
    color: orange;
    font-size: 45%;
}
#Logo p {
color: limegreen;
font-size: 165%;
}

#projectsdiv {
display: flex;
flex-direction: row;
max-width: 90% !important;
justify-content: space-between;
align-items: center;
gap: 15px;
}
#projectsdiv img {
max-width: 285px;
}


@media (max-aspect-ratio: 1/1) {

#projectsdiv img {
max-width: 115px;
}
}
