/*
Farben
*/

:root {
    --Kraft:      #fff495;
    --Kraft-dark: #ede59f;
    --Trafk:      #5a3998;
    --Trafk-dark: #351b67;
}

/*
Important Stuff
*/

body {
    background-color: black;
}

main::before {
    content: "";
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;

    background-image: url("/SourceHop-Notes/assets/SourceHop-Images/ModelsJourney/13WorldsBG3.png");
    background-repeat: no-repeat;
    background-position: center top;
    background-position-y: -5rem;
    background-size: contain;

    /*Parallax Effekt*/
    transform: translateZ(-65px) scale(4);
    transform-origin: top center;
    z-index: -1;
}



/*
Main
*/
