:root {
    --Kraft:      #fff495;
    --Kraft-dark: #ede59f;
    --Trafk:      #5a3998;
    --Trafk-dark: #351b67;
}

#Intro {
    margin-top: 3500px;
}

#Intro p {
    color: orange;
    font-size: 90%;
}

section p {
    line-height: 1.6;
}

#openSourceNotice, #codeAndSoftware, #creativeContentAndIntellectualProperty,
#rasassetuse, #contentCreationAndMonitisation, #commertialUse,
#LicenseUpdates, #reservationOfRights {
    border-left: 3px solid var(--Trafk);
    padding-left: 1.5rem !important;
}

#spacer p {
    color: var(--Trafk);
    font-size: 75%;
}
