.nav a {
    font-size: 10px;
}



#Intro{
    top: 12%;
    left: 3%;
    right: 55%;
    bottom: 50%;
}
#openSourceNotice{
    top: 12%;
    left: 45%;
    right: 3%;
    bottom: 50%;
}
#codeAndSoftware{
    top: 49%;
    left: 3%;
    right: 65%;
    bottom: -15%;
}
#creativeContentAndIntellectualProperty{
    top: 49%;
    left: 35%;
    right: 35%;
    bottom: -15%;
}
#rasassetuse{
    top: 49%;
    left: 65%;
    right: 3%;
    bottom: -15%;
}
#contentCreationAndMonitisation{
    top: 115%;
    left: 3%;
    right: 55%;
    bottom: -65%;
}
#commertialUse{
    top: 115%;
    left: 45%;
    right: 30%;
    bottom: -65%;
}
#LicenseUpdates{
    top: 115%;
    left: 70%;
    right: 3%;
    bottom: -65%;
}
#reservationOfRights{
    top: 165%;
    left: 3%;
    right: 3%;
    bottom: -95%;
}

#spacer {
    bottom: -105%;
}