:root {
    --Kraft:      #fff495;
    --Kraft-dark: #ede59f;
    --Trafk:      #5a3998;
    --Trafk-dark: #351b67;
}

#Intro {
    margin-top: 3500px;
}

#Intro p {
    color: orange;
    font-size: 90%;
}

section p {
    line-height: 1.6;
}