:root {
    --Kraft:      #fff495;
    --Kraft-dark: #ede59f;
    --Trafk:      #5a3998;
    --Trafk-dark: #351b67;
}

.lastupdated {
    color: orange !important;
    font-size: 85% !important;
    margin-bottom: 1.5rem;
}

section h3 {
    color: var(--Kraft-dark);
    margin-top: 1.25rem;
    margin-bottom: 0.4rem;
    font-size: 105%;
}

#privacy ul {
    padding-left: 1.5rem;
    margin: 0.5rem 0;
}

#privacy ul li {
    color: var(--Kraftlight);
    margin-bottom: 0.3rem;
}

