/*
Farben
*/

:root {
    --Kraft:      #fff495;
    --Kraft-dark: #ede59f;
    --Trafk:      #5a3998;
    --Trafk-dark: #351b67;
}

/*
Important Stuff
*/


* {
    margin: 0;
    padding: 0;
}
body {
    background-color: black;
    color: white;
}

main::before {
    content: "";
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;

    background-image: url("/SourceHop-Notes/assets/SourceHop-Images/ModelsJourney/13WorldsBG3.png");
    background-repeat: no-repeat;
    background-position: center top;
    background-position-y: -5rem;
    background-size: contain;

    /*Parallax Effekt*/
    transform: translateZ(-65px) scale(4);
    transform-origin: top center;
    z-index: -1;
}
/*
Main
*/


#studio {
    position: absolute;
    top: -65rem;
    left: 50%;
    transform: translateX(-50%) translateZ(-65px) scale(1);
    transform-origin: center top;
    z-index: 8;
}

#links {
    position: absolute;
    top: 35rem;
    left: -23rem;
    transform: translateZ(-15px) scale(2);
    transform-origin: center top;
    z-index: 5;
    display: flex;
    flex-direction: column;
}

#members {
    position: absolute;
    top: 40rem;
    left: 28rem;
    transform: translateZ(-25px) scale(2.5);
    transform-origin: center top;
}

#description {
position: absolute;
top: 75rem;
left: 3rem;
right: 45rem;
transform: translateZ(-10px) scale(1.5);
transform-origin: center top;
z-index: 6;
}

#saying {
    position: absolute;
    top: 115rem;
    left: 5rem;
    right: 45rem;
    transform: translateZ(-5px) scale(1.5);
    transform-origin: center top;
}

#inspiration {
    position: absolute;
    top: 145rem;
    left: -5rem;
    right: 45rem;
    transform: translateZ(-15px) scale(2);
    transform-origin: center top;
}

#Logosetc {
    position: absolute;
    top: 35rem;
    right: -85%;
    left: 155%;
    transform: translateZ(-35px) scale(5);
    transform-origin: center top;
    z-index: 5;
}
#Logosetc img {
    margin: 1rem;
    max-width: 65%;
    min-width: 65%;
}

@media (max-aspect-ratio: 3/4)  {

}