:root {
    --Kraft:      #fff495;
    --Kraft-dark: #ede59f;
    --Trafk:      #5a3998;
    --Trafk-dark: #351b67;
}

#StudioLogo {
    align-items: center;
    margin-top: 2850px;
}

#StudioLogo #studio {
    max-width: 600px;
}

#links {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

#links a {
    text-decoration: none;
    color: var(--Kraft);
    width: fit-content;
}

#links h2 {
    margin-top: 1rem;
}

#logosgrid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
    align-items: center;
    max-width: 90%;
}

#logosgrid img {
    max-width: 285px;
}

.identity {
    color: orange !important;
    font-size: 120% !important;
}

#inspiration p,
#history p {
    margin-bottom: 0.4rem;
}


@media (max-aspect-ratio: 1/1) {
    #StudioLogo #studio {
        max-width: 90vw;
    }
    #logosgrid img {
        max-width: 130px;
    }
}
