/*
DIE FARBEN
*/


:root {
    --Kraft:      #fff495;
    --Kraft-dark: #ede59f;
    --Trafk:      #5a3998;
    --Trafk-dark: #351b67;
}

/*
Ganze SEITE
*/

* {
    padding: 0;
    margin: 0;
}

main {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 15px;
    perspective-origin: center;
}

/*
Die TRAFKBLASEN navs
*/

.nav {
    background-image: url("/SourceHop-Notes/assets/SourceHop-Images/TrafkSite/tb.png");
    width: 2.5rem;
    height: 2.5rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: 0.085s ease-in-out;
}
.nav:hover {
    background-image: url("/SourceHop-Notes/assets/SourceHop-Images/TrafkSite/tbs.png");
}
.nav a {
    text-decoration: none;
    color: white;
    font-size: 0.55rem;
}

/*
HEADER
*/

header {
    background-color: var(--Kraft);
    display: flex;
    position: fixed;
    left: 0;
    right: 0;
    height: 3.5rem;
    align-items: center;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    z-index: 999;
}

#logo {
    height: 2.5rem;
    width: 2.5rem;
}
#logoa {
    display: flex;
    position: fixed;
    left: 2rem;
}

header #search {
    height: 2.5rem;
    width: 12rem;
    right: 2rem;
    position: fixed;
    border: 5px solid var(--Kraft-dark);
    border-radius: 0.85rem;
}
header #search.do {
    color: black
}
#trafkverse {
    position: fixed;
    right: 15rem;
}
#askAlfonznav {
    position: fixed;
    right: 18rem;
}

/*
NAVIGATION
*/

nav {
    display: flex;
    flex-direction: column;
    position: fixed;
    left: -5.5rem;
    bottom: 5rem;
    top: 5rem;
    width: 6rem;
    background-color: var(--Kraft-dark);
    transition: 0.15s ease-in-out;
    overflow-y: scroll;
    padding: 0.15rem;
    padding-top: 1rem !important;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    z-index: 997;
}

nav:hover {
    left: 0;
}


.tree-ul {
    list-style: none;
    display: none;
    padding-left: 0.35rem;
    padding-top: 0.35rem;
    padding-bottom: 0.35rem;
}

.tree-ul.root-ul {
    display: block;
}

.tree-ul.open {
    display: block;
}

.tree-item {
    display: flex;
    align-items: center;
    gap: 0.15rem;
    margin-bottom: 0.15rem;
}

.arrow {
    cursor: pointer;
    font-size: 0.85rem;
    color: var(--Trafk);
    transition: transform 0.15s;
    user-select: none;
    padding: 0.35rem;
}

.arrow.open {
    transform: rotate(90deg);
}

footer {
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 8rem;
    padding-right: 8rem;
    background-color: var(--Kraft);
    bottom: -3.55rem;
    left: 0;
    right: 0;
    height: 4rem;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    transition: bottom 0.15s ease-in-out;
    z-index: 998;
}

#fleft {
    display: flex;
    gap: 1rem;
    flex-direction: row;
}

footer:hover {
    bottom: 0;
}

footer #volume {
    width: 6rem;
}


/*
ANKLICKBARES
*/

.do {
    filter: drop-shadow(0px 0px 2px var(--Kraft)) drop-shadow(0px 0px 5px var(--Kraft));
    color: var(--Kraft);
    padding-left: 5px;
    padding-right: 5px;
    transition: 0.085s ease-in-out;
}
.do:hover {
    filter: drop-shadow(0px 0px 3px var(--Kraft-dark)) drop-shadow(0px 0px 8px var(--Kraft-dark));
}

.glow {
    filter: drop-shadow(0px 0px 3px var(--Kraft)) drop-shadow(0px 0px 5px var(--Kraft));
}


@media (max-aspect-ratio: 3/4) {
    header #search {
        width: 5rem;
    }
    header, footer {
        height: 4rem;
    }
    header #logo {
        width: 3.5rem;
        height: 3.5rem;
    }
    .nav {
        width: 3rem;
        height: 3rem;
    }
    #trafkverse {
        right: 8rem;
    }
    #askAlfonznav {
        right: 12rem;
    }
    footer {
        bottom: -3rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    footer #volume {
        width: 3rem;
    }
    footer p {
        font-size: 0.65rem;
    }

    nav {
        width: 8rem;
        left: -7rem;
    }
    nav .nav {
        width: 3rem;
        height: 3rem;
    }
    nav .nav a {
        font-size: 0.85rem;
    }
    .arrow {
        font-size: 1rem;
        padding: 0.35rem;
    }
    .tree-ul {
        padding-left: 0.35rem;
    }
}